<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body class="hold-transition skin-blue-light sidebar-mini">

<div class="wrapper">

    <header class="main-header">
        <div th:replace="fragments/adminHeader"></div>
    </header>



    <div class="content-wrapper">
        <section class="content-header" layout:fragment="header"></section>

        <section class="content">

            <div layout:fragment="content">

                <div class="panel" style="margin-top: 50px;">
                    <div class="page-header">
                        <h1 align="center">View Booking List</h1>
                    </div>

                        <table class = "table table-bordered table-striped table-hover table-condensed" id="dataTable">
                            <thead>
                            <tr>
                            <th>Booking Id</th>
                            <th>Booking Date</th>
                            <th>Game Date</th>
                            <th>Game Time</th>
                            <th>Member Full Name</th>
                            <th>Username</th>
                                <th>Approved</th>
                            <th>Action</th>

                        </tr>
                            </thead>
                            <tbody>
                        <tr th:each="b : ${bookings}">
                            <td th:text="${b.bookingId}"></td>
                            <td th:text="${b.bookingDate}"></td>
                            <td th:text="${b.date}"></td>
                            <td th:text="${b.time}"></td>
                            <td th:text="${b.memberFullName}"></td>
                            <td th:text="${b.username}"></td>
                            <td th:if="${b.approved}">Approved</td>
                            <td th:unless="${b.approved}">Pending</td>

                            <td colspan="2">
                                <div>
                                    <a th:href="@{/admin/deleteBooking/__${b.bookingId}__}" class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to Cancel Reservation?????');">Cancel</a>
                                    <a th:href="@{/admin/editBooking/__${b.bookingId}__}" class="btn btn-success btn-sm">Approve</a>
                                    <a th:href="@{/admin/__${b.bookingId}__/emailTicket}" class="btn btn-sm btn-primary">Send Email</a>

                                </div>
                            </td>
                        </tr>
                            </tbody>
                    </table>
                    </div>









            </div>

        </section>
    </div>
    <footer class="main-footer" th:replace="fragments/footer">

    </footer>


</div>
<!-- ./wrapper -->

<th:block th:replace="fragments/scripts">

</th:block>
</body>
</html>