<header>
    <div class="container">
        <div id ="branding">
            <h1><span class="highlight">Nepa</span>Futsal System</h1>
        </div>
        <nav>
            <ul>
                <li class="current">
                    <a th:href="@{/index}">Home</a>
                </li>
                <li>
                    <a th:href="@{/contact}">Contact Us</a>
                </li>
                <li>
                    <a th:href="@{/viewEvents}">Events</a>
                </li>
                <li>
                    <a th:href="@{/login}">Login</a>
                </li>
                <li>
                    <a th:href="@{/register}">Member SignUp</a>
                </li>
            </ul>

        </nav>

    </div>
</header>